* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Produto */
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4edb;

  /* Base */
  --bg-color: #0f172a;
  --stroke-color: #1e293b;

  /* Textos */
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;

  /* Tipografia */
  --font-family: 'Archivo', sans-serif;
  --heading1-size: 1.5rem;
  --heading1-height: 135%;
  --heading1-weight: 700;
  --heading2-size: 1rem;
  --heading2-height: 140%;
  --heading2-weight: 700;
  --heading3-size: 0.875rem;
  --heading3-height: 145%;
  --heading3-weight: 600;
  --span-size: 0.625rem;
  --span-height: 120%;
  --span-weight: 500;
  --paragraph-size: 0.875rem;
  --paragraph-height: 160%;
  --paragraph-weight: 400;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

#primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--stroke-color);

  & img {
    height: 1.25rem;
  }
}

#secondary {
  display: flex;
  padding: 0.875rem 1rem;
  gap: 2rem;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-top: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
  & a {
    font-size: var(--heading3-size);
    font-weight: var(--heading3-weight);
    line-height: var(--heading3-height);
    color: var(--text-color-secondary);
    white-space: nowrap;
  }
}

#secondary::-webkit-scrollbar {
  display: none;
}

#destaques {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & > div:first-child {
    height: 25.75rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
}

.noticias-menores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  & > div {
    height: 12.5rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
}

.card {
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(180deg, transparent 0%, #020617 100%);
  }
}

figcaption {
  position: absolute;
  bottom: 0;
  padding: 0.75rem;

  & h2 {
    margin-top: 0.5rem;
    font-size: var(--heading2-size);
    font-weight: var(--heading2-weight);
    line-height: var(--heading2-height);
    color: var(--text-color-primary);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & span {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: var(--brand-color-dark);
    border-radius: 4px;
    font-size: var(--span-size);
    font-weight: var(--span-weight);
    line-height: var(--span-height);
    color: var(--text-color-primary);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
  }
}

#destaques > .card:first-child figcaption {
  padding: 1rem;
  & h2 {
    font-size: var(--heading1-size);
    font-weight: var(--heading1-weight);
    line-height: var(--heading1-height);
    color: var(--text-color-primary);
  }
}
