section header {
  display: grid;
  grid-auto-flow: column;
  border-top: 0.0625rem solid var(--stroke-color);
  padding-block: 0.75rem 1.5rem;
  font: var(--text-span);
  align-items: center;
}

section header a {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

section header a span {
  display: block;
  background-image: url(../assets/icons/ArrowRight.svg);
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

section header a:hover span {
  background-image: url(../assets/icons/ArrowRight-hover.svg);
}

#featured {
  grid-area: featured;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

#featured img {
  height: 100%;
  object-fit: cover;
}

#featured .card {
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

#featured .card::before {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  background: linear-gradient(180deg, transparent 0%, #020617 100%);
  z-index: 1;
}

#featured .card figcaption {
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
  z-index: 2;
  width: 100%;
}

#featured .card figcaption:has(.text-lg) {
  padding: 0.75rem;
}

#featured .card figcaption h2 {
  margin-top: 0.5rem;
}

#weekly {
  grid-area: weekly;
}

#weekly > div {
  display: grid;
  grid-template-columns: repeat(4, 18.25rem);
  gap: 1rem;
}

#weekly img {
  height: 10rem;
  object-fit: cover;
}

#weekly figure {
  position: relative;
}

#weekly figure .content-tag {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

#weekly figure p {
  margin-top: 0.5rem;
  font-weight: 400;
}

#ai {
  grid-area: ai;
}

#ai article {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: start;
}

#ai img {
  width: 11rem;
  min-width: 11rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#ai h3 {
  margin-block: 0.5rem 0.25rem;
}

aside {
  grid-area: aside;
}

#more {
  margin-top: 2rem;
}

#more h3 {
  margin-top: 0.5rem;
}

#more article {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: start;
}

#more img {
  width: 4.5rem;
  min-width: 4.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}
